@media only screen and (max-width: 600px) {
  .navbar-menu {
    display: none;
  }
  .main-title {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #008d36;
  }
  .header-title {
    margin: 0 10px;
  }
  .top-title {
    color: #df0916;
    font-size: 11px;
    margin-bottom: -10px;
  }
  .sub-title {
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-top: -10px;
    text-align: right;
    font-style: italic;
    color: #393e46;
  }
  .navbar-logo img {
    width: 45px;
  }
  .burger-menu {
    display: block;
  }
  .landing-page-top {
    height: 50vh !important;
    background-color: #393e46;
  }
  .landing-page-promise {
    height: 50vh !important;
  }
  .image-container-left {
    text-align: center;
    margin-bottom: 10px;
  }
  .image-container-left img {
    width: 360px;
  }
  .after-state-section {
    margin: 3rem 0px;
  }
  .after-state-section-background h2 {
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    color: #393e46;
  }
  .card-item-title {
    font-size: 18px;
    font-weight: 700;
    color: #00af43;
  }
  .after-state-section-background h4 {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
    color: #8c96a7;
  }
  .list-of-service-text {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .img-icon {
    width: 60px;
    height: 60px;
  }
  .card-item-content {
    font-size: 12px;
    line-height: 16px;
  }
  .section-card-title h3 {
    font-weight: 800;
    font-size: 22px;
    color: #393e46;
  }
  .section-card-title h5 {
    font-size: 10px;
  }
  .mobile-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .page-header-title {
    font-weight: 900;
    font-size: 35px;
    color: #393e46;
    text-align: center;
  }
  .page-header-description {
    font-weight: 600;
    font-size: 13px;
    color: #393e46;
    text-align: center;
    margin-top: -5px;
  }
  .card-item-content-view div {
    font-weight: 600;
    letter-spacing: 1px !important;
    font-size: 14px;
  }
  .card-item-colored {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  .testimonial-card {
    padding: 1.5rem !important;
  }
  .mobile-mx {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }
  .testimonial-card-text {
    font-size: 12px;
  }
  .list-of-service {
    margin: 0px auto;
  }
  /* menu */
  #menu-toggle:checked ~ .navbar-menu {
    display: block;
    position: absolute;
    background-color: #ffffff;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
  .navbar-menu ul li {
    display: list-item;
    margin: 5px -30px;
    padding: 8px 20px;
    font-weight: 500;
    border-top: 1px solid #f1f1f1;
  }
  .navbar-menu ul li a {
    font-size: 16px;
  }
}
/* small laptops */
@media only screen and (max-width: 1366px) {
  .landing-page-promise {
    height: 360px;
  }
  .landing-page-top {
    height: 360px;
  }
  .landing-page-promise-title {
    font-size: 35px;
    font-weight: 900;
    color: #393e46;
    line-height: 38px;
  }
  .landing-page-promise-title span {
    font-size: 42px;
    font-weight: 900;
    color: #008d36;
    line-height: 38px;
  }
  .landing-page-promise-quote {
    font-size: 13px;
    font-weight: 600;
    color: #8c96a7;
    line-height: 20px;
  }
  .theme-btn {
    background-color: #008d36;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #008d36;
    padding: 10px 20px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
  }
  .after-state-section {
    margin: 6rem 0px;
  }
}
