@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
a {
  text-decoration: none !important;
}
/* header component style */
.navbar-area {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background: #fff;
}
.sticky-top {
  -webkit-box-shadow: 0px 20px 50px 0px rgb(0 0 0 / 5%);
  box-shadow: 0px 20px 50px 0px rgb(0 0 0 / 5%);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar {
  background-color: #fff;
  /* padding: 15px 0; */
  transition: all 0.3s ease-out 0s;
  position: relative;
}
#menu-toggle {
  display: none;
}
.inner-navbar {
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
}
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.navbar-logo:hover {
  cursor: pointer;
}
.loader-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-title {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: #008d36;
}
.header-title {
  margin: 0 10px;
}
.top-title {
  color: #df0916;
  font-size: 11px;
  margin-bottom: -10px;
}
.sub-title {
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: -10px;
  text-align: right;
  font-style: italic;
  color: #393e46;
}
.navbar-logo img {
  width: 55px;
}
.navbar-menu ul li {
  display: inline-block;
  list-style: none;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}
.navbar-menu ul li a {
  text-decoration: none;
  color: #393e46;
  font-weight: 700;
  font-size: 14px;
}
.navbar-menu ul li a:hover {
  color: #008d36;
}
.burger-menu {
  display: none;
}
/* footer */
.footer {
  background-color: #ffffff;
  padding: 20px 0;
}
.footer-logo {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.footer-logo img {
  width: 100px;
}
.footer-title {
  margin: 0 10px;
}
.bottom-title {
  color: #df0916;
  font-size: 11px;
  margin-bottom: -10px;
}
.footer-brand-section {
  margin-top: 20px;
}
.footer-brand-section-text {
  font-weight: 500;
  font-size: 14px;
  color: #393e46;
}
.footer-contact-info-section-icon {
  display: flex;
  align-items: center;
  background-color: #009238;
  padding: 8px 15px;
  border-radius: 3px;
  color: #ffffff !important;
  text-decoration: none !important;
  width: max-content;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.footer-contact-info-section-icon:hover {
  cursor: pointer;
}
/* top header */
.top-header {
  background-color: #00af43;
  padding: 0.5rem 0;
}
.top-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
}
.top-header-content-right-item {
  display: flex;
  align-items: center;
  background-color: #009238;
  padding: 5px 25px;
  border-radius: 3px;
  color: #ffffff !important;
  text-decoration: none !important;
}
.top-header-content-right-item:hover {
  columns: #ffffff !important;
  cursor: pointer;
}
.top-header-content-right-item-icon {
  margin-right: 5px;
}
.top-header-content-right-item-text {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}
.top-header-content-left-item {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}
.landing-page-top {
  height: 568px;
}
.landing-page-background-image {
  background-image: url("../img/image-bg.png");
  background-size: cover;
  height: 568px;
}
.landing-page-promise {
  height: 568px;
}
.landing-page-promise-title {
  font-size: 55px;
  font-weight: 900;
  color: #393e46;
  line-height: 58px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.landing-page-promise-title span {
  font-size: 55px;
  font-weight: 900;
  color: #008d36;
  line-height: 58px;
}
.landing-page-promise-quote {
  font-size: 18px;
  font-weight: 600;
  color: #8c96a7;
  margin-bottom: 10px;
  line-height: 28px;
}
.theme-btn {
  background-color: #008d36;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #008d36;
  padding: 15px 25px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  text-decoration: none !important;
  text-transform: uppercase;
}
.theme-btn:hover {
  background-color: #00af43;
  color: #ffffff;
  border: 1px solid #00af43;
  -webkit-box-shadow: 0px 4px 47px -15px rgba(0, 175, 67, 1);
  -moz-box-shadow: 0px 4px 47px -15px rgba(0, 175, 67, 1);
  box-shadow: 0px 4px 47px -15px rgba(0, 175, 67, 1);
}
.after-state-section {
  margin: 6rem 0px;
}
.after-state-section-background h2 {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  color: #393e46;
}
.after-state-section-background h4 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 18px;
  color: #8c96a7;
}
.card-item {
  background-color: #ffffff;
  border-radius: 10px;
}
.card-item-colored {
  background-color: #00af43;
  border-radius: 5px;
  color: #ffffff;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}
.card-item-colored .card-item-content {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff !important;
  line-height: 25px;
}
.card-item-colored .card-item-title {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}
.image-container-left img {
  width: 800px;
  margin-top: 50px;
}
.img-icon {
  width: 105px;
  height: 105px;
  margin: 10px 10px;
  /* image-rendering: -webkit-optimize-contrast; */
}
.card-item-title {
  font-size: 28px;
  font-weight: 700;
  color: #00af43;
}
.card-item-content {
  font-size: 16px;
  font-weight: 400;
  color: #8c96a7;
  line-height: 25px;
}
.card-item-content-view {
  background-color: #009238 !important;
  border: 0px solid #009238 !important;
  box-shadow: none !important;
  color: #ffffff !important;
  border-radius: 0.25rem !important;
  display: flex;
  align-items: center;
  padding: 20px;
}
.card-item-content-view img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.card-item-content-view div {
  font-weight: 600;
  letter-spacing: 1px !important;

  font-size: 20px;
}
/* accordion */
.accordion-button {
  background-color: #009238 !important;
  border: 0px solid #009238 !important;
  box-shadow: none !important;
  color: #ffffff !important;
  border-radius: 0.25rem !important;
  font-weight: 600;
  letter-spacing: 1px !important;
}
.accordion-button::after {
  color: #ffffff !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.accordion-item {
  background-color: #009238 !important;
  border: 1px solid #009238 !important;
  color: #ffffff;
  margin: 10px 0px;
  border-radius: 0.25rem !important;
  padding: 5px;
}
.accordion-item:first-of-type {
  border-radius: 0px;
}
.accordion-body {
  font-size: 14px !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
}
/* end accordion */
.img-after {
  max-width: 100%;
}
.list-of-service {
  margin: 40px 40px;
}
.list-of-service-container {
  text-align: center;
}
.list-of-service-img {
  width: 87px;
  height: 87px;
  line-height: 83px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 25px rgb(0, 175, 67, 15%);
  box-shadow: 0 0 25px rgb(0, 175, 67, 15%);
}
.list-of-service-img img {
  max-width: 50px;
}
.list-of-service-text {
  font-size: 14px;
  font-weight: 900;
  color: #393e46;
  line-height: 25px;
  text-transform: uppercase;
}
.testimonial-card {
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 25px rgb(0, 175, 67, 10%);
  box-shadow: 0 0 25px rgb(0, 175, 67, 10%);
  transition: all 0.4s ease-in-out;
  padding: 3rem !important;
}
.testimonial-card:hover {
  background-color: #00af43;
  cursor: pointer;
}
.testimonial-card:hover .testimonial-card-title,
.testimonial-card:hover .testimonial-card-text,
.testimonial-card:hover .card-theme-btn {
  color: #ffffff;
}
.testimonial-card-title {
  font-weight: 700;
  font-size: 20px;
  color: #393e46;
  line-height: 25px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}
.testimonial-card-text {
  font-weight: 400;
  font-size: 14px;
  color: #8c96a7;
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.card-theme-btn {
  background-color: transparent;
  outline: none;
  border: none;
  color: #00af43;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s;
}
.card-theme-btn i {
  margin-left: 10px;
  transition: all 0.4s;
}
.card-theme-btn:hover i {
  margin-left: 20px;
}
.to-call-action {
  margin: 6rem 0 2rem 0;
  background-color: #8c96a72f;
}
.to-call-action-prefer h2 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 35px;
  color: #009238;
}
.to-call-action-prefer h4 {
  font-size: 16px;
  color: #393e46;
}
.mobile-mx {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}
/* pages header */
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/bg-header.png"), #1a66a82f;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 220px;
}
.page-header-title {
  font-weight: 900;
  font-size: 45px;
  color: #393e46;
  text-align: center;
}
.page-header-description {
  font-weight: 600;
  font-size: 15px;
  color: #393e46;
  text-align: center;
  margin-top: -5px;
}
.bg-lighter {
  background-color: #f3f5f4;
}
.section-title {
  background-color: #ffffff;
  padding: 20px 35px;
  border-radius: 2px;
  margin: 10px 0;
  /* -webkit-box-shadow: 0px 0px 48px -16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 48px -16px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 48px -16px rgba(0, 0, 0, 0.2); */
  display: flex;
  align-items: center;
}
.section-title h3 {
  margin: 0;
  font-weight: 900;
  font-size: 20px;
  color: #393e46;
  background-color: #ffffff;
}
.section-card {
  background-color: #ffffff;
  padding: 15px 35px;
  border-radius: 2px;
  margin: 10px 0;
  border-bottom: 5px solid #00af43;
  /* -webkit-box-shadow: 0px 0px 48px -16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 48px -16px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 48px -16px rgba(0, 0, 0, 0.2); */
}
.section-card-image {
  margin: 0px 0px 0px -20px;
  /* padding-right: 30px !important; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 20%;
}
.section-card-image img {
  background-color: #fafafa;
  border-radius: 5px;
  width: 200px;
  height: 269px;
}
.section-card-title h3 {
  font-weight: 800;
  font-size: 25px;
  color: #393e46;
}

.section-card-subtitle {
  font-size: 12px;
  color: #8c96a7;
}
.info-section h5 {
  font-weight: 700;
  font-size: 12px;
  color: #393e46;
  text-transform: uppercase;
  margin-bottom: 0;
}
.info-section {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 12px;
}
.info-section a {
  color: #00af43;
  text-decoration: none !important;
  font-size: 12px;
}
.info-section a:hover {
  color: #009238;
  cursor: pointer;
}
.dots {
  background-color: #393e46;
  border-radius: 100px;
  /* padding: 3px; */
  width: 5px;
  height: 5px;
  margin: 0 10px;
}
.section-card-schedule {
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.section-card-schedule h6 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
}
.section-card-schedule-badge {
  background-color: #e2ffed;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  padding: 8px 20px;
  border-radius: 5px;
  color: #00af43;
  border: 1px solid #e2ffed;
  transition: all ease-in-out 0.4s;
  font-family: "Poppins", sans-serif;
}
.section-card-schedule-badge:hover {
  border: 1px solid #00af43;
  cursor: pointer;
}
.section-card-button-theme {
  background-color: #009238;
  color: #ffffff;
  border: 1px solid #009238;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  transition: all ease-in-out 0.4s;
}
.section-card-button-theme:hover {
  background-color: #00af43;
  color: #ffffff;
  border: 1px solid #00af43;
  -webkit-box-shadow: 0px 4px 47px -15px rgba(0, 175, 67, 1);
  -moz-box-shadow: 0px 4px 47px -15px rgba(0, 175, 67, 1);
  box-shadow: 0px 4px 47px -15px rgba(0, 175, 67, 1);
}
.section-card-button-theme-seamless {
  background-color: #ffffff;
  color: #009238;
  border: 1px solid #009238;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  transition: all ease-in-out 0.4s;
}
.section-card-button-theme-seamless:hover {
  background-color: #00af43;
  color: #ffffff;
  border: 1px solid #00af43;
  -webkit-box-shadow: 0px 4px 47px -15px rgba(0, 175, 67, 1);
  -moz-box-shadow: 0px 4px 47px -15px rgba(0, 175, 67, 1);
  box-shadow: 0px 4px 47px -15px rgba(0, 175, 67, 1);
}
.address-section {
  font-size: 12px;
  font-size: 500;
  font-family: "Poppins", sans-serif;
  color: #00af43;
  margin: 10px 0;
}
.form-input-side {
  border: 1px solid #c9c9c9;
  padding: 7px 10px;
  width: 100%;
  border-radius: 3px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  outline: none;
  transition: all ease-in-out 0.4s;
}
.form-input-side:focus {
  border: 1px solid #00af43;
}
.header-form-title {
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  color: #393e46;
  margin-bottom: 0;
}
.header-form-subtitle {
  font-weight: 500;
  font-size: 11px;
  color: #393e46;
  margin-bottom: 5px;
}
.form-section {
  transition: all 0.4s;
}
.reviews-text {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}
.reviews-text p {
  font-size: 22px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-style: italic;
  margin: 10px 20px;
  color: #393e46;
}
.client-name {
  color: #00af43;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 700;
}
.simple-height {
  display: flex;
  align-items: center;
  height: 480px;
}
.carousel-caption {
  text-align: left !important;
}
.carousel-indicators [data-bs-target] {
  background-color: #00af43 !important;
  cursor: pointer;
  border-radius: 100px !important;
  height: 15px !important;
  width: 15px !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  margin: 15px 10px !important;
}
.carousel-control-next,
.carousel-control-prev {
  color: #00af43 !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300af43'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300af43'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}
/* .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
} */

/* .bg-img {
  display: inline-block;
  background: rgb(0, 175, 67) !important;
  background: linear-gradient(
    90deg,
    rgba(0, 175, 67, 0.7) 0%,
    rgba(0, 175, 67, 0.1516981792717087) 35%,
    rgba(0, 175, 67, 0) 100%
  ) !important;
  z-index: 1 !important;
}
.bg-img img {
  position: relative !important;
} */
/* animation class */
.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.fade-in-bottom2 {
  -webkit-animation: fade-in-bottom 0.8s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-bottom 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.fade-in-bottom3 {
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.mobile-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.desktop-image {
  width: 100%;
  height: 100%;
}
.mobile-image {
  display: none;
}
.text-paragraph {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 28px;
  color: #393e46;
}
.text-title {
  color: #008d36;
  font-size: 35px;
  font-weight: 900;
}
.image-container-about img {
  width: 500px;
  margin-top: 50px;
}
.card-colored-hover {
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 20px 20px;
  transition: all 0.4s ease-in-out;
}
.card-colored-hover-title {
  color: #00af43;
  font-size: 15px;
  font-weight: 800;
}
.card-colored-hover-text {
  font-size: 12px;
  color: #8c96a7;
  text-transform: capitalize;
  letter-spacing: 0.2px;
}
.card-colored-hover:hover {
  background-color: #00af43;
  color: #ffffff;
  cursor: pointer;
}

.card-colored-hover:hover .card-colored-hover-title,
.card-colored-hover:hover .card-colored-hover-text,
.card-colored-hover:hover svg {
  color: #ffffff;
}
/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/* loader */
.heart-rate {
  width: 150px;
  height: 73px;
  position: relative;
  margin: 20px auto;
}
.fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}
.fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -120%;
  animation: heartRateOut 2.5s linear infinite;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}
